.projetos {
    display: flex;
}

.projetos__cx {
    display: flex;
    margin: 5rem;
}

.projetos__cx-conteudo {
    display: flex;
    margin: 2rem;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projetos__cx-titulo {
    color: var(--cor-preto);
    margin: 20px 0px 10px 0px;
}

.projetos__cx-desc {
    color: var(--cor-preto);
    font-family: var(--fonte-2);
    font-size: 20px;
}

.projetos__cx-img {
    width: 100%;
    box-shadow: -2px 4px 11px #031424;
}
.projetos__cx-link {
    margin-top: 2rem;
}