@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600;700&display=swap');

:root {
    --cor-preto: #000;
    --cor-fundo: #fff;
    --cor-2: #064663;
    --cor-destaque:  #04293A;
    --cor-hover: #222EDB;
    
    --fonte-1: 'Krona One', sans-serif;
    --fonte-2: 'Montserrat', sans-serif;
    --fonte-3: 'Kanit', sans-serif;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    /* height: 100vh; */
    background-color: var(--cor-fundo);
    color: #f6f6f6;
}

strong {
    color: white;
}

.rodape {
    text-align: center;
    padding: 24px;
    color: var(--cor-fundo);
    background-color: var(--cor-destaque);
    font-family: var(--fonte-2);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }
    
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
}